


 * {
        border: 0;
        margin: 0;
        padding: 0;
    }

    section {
        box-sizing: border-box;
        display: inline-block;
        padding: 1rem;
        width: 40%;
    }

    #lienzo {
        border: 2px solid steelblue;
        width: 500px;
        vertical-align: top;
        height: 300px;

    }

    .btn {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
   }
    input[type="text"] {
        background-color: #eee;
        border: 1px solid gray;
        font-size: 1.7rem;
    }

    input[type="button"] {
        background-color: steelblue;
        color: white;
        font-size: 1.7rem;
        padding: 0.3;
    }

    div {
        font-size: 1.7rem;
        margin: 0.5rem;
        padding: 0.3rem;
    }

    div #frase {
        border: 1px solid steelblue;
        padding: 0.4rem;

    }